# Source control & IDEs
.git
.vscode
.idea

# Dependencies (reinstalled in Docker)
node_modules
npm-debug.log
yarn-error.log

# Ignore all env files EXCEPT the one used for production
.env
.env.local
.env.development
!.env.production  # Allow this to be used during Docker build

# Build output (recreated in Docker)
.next
out
dist
build

# OS junk files
.DS_Store
Thumbs.db
